@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');

* {
  box-sizing: border-box;
}
/* Base styling for the card layout */
.page-contain {    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #E7F3F1;
    padding: 2em;
    padding-top: 100px;
    font-family: 'Open Sans', sans-serif;
}

.data-card {
    display: flex;
    flex-direction: column;
    max-width: calc(14.28% - 2em); /* Default for larger screens */
    min-height: auto;
    overflow: hidden;
    border-radius: .5em;
    text-decoration: none;
    background: white;
    margin: 1em;
    padding: 1.5em;
    box-shadow: 0 1.5em 2.5em -.5em rgba(0, 0, 0, 0.1);
    transition: transform 0.45s ease, background 0.45s ease;
}

h3, h4, p, .link-text {
    transition: color 0.45s ease, border-color 0.45s ease;
}

h3 {
    color: #2E3C40;
    font-size: 1.1em;
    font-weight: 600;
    line-height: 1;
    padding-bottom: 0.5em;
    margin: 0 0 0.142857143em;
    border-bottom: 2px solid #753BBD;
}

h4 {
    color: #627084;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 0.1em;
    margin: 0 0 1.777777778em;
}

.link-text {
    display: block;
    color: #753BBD;
    font-size: 1em;
    font-weight: 600;
    line-height: 1.2;
    margin: auto 0 0;
}

/* Hover state */
.data-card:hover {
    background: #753BBD;
    transform: scale(1.02);
}

.data-card:hover h3 {
    color: #FFFFFF;
    border-bottom-color: #A754C4;
}

.data-card:hover h4, .data-card:hover .link-text {
    color: #FFFFFF;
}

.data-card:hover p {
    opacity: 1;
    transform: none;
}

@keyframes point {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(0.125em);
    }
}

/* Media queries for responsiveness */

/* Medium screens (tablets, small desktops) */
@media (max-width: 1200px) {
    .data-card {
        max-width: calc(25% - 2em); /* 4 cards per row */
    }
}

/* Small screens (phones, smaller tablets) */
@media (max-width: 768px) {
    .data-card {
        max-width: calc(50% - 2em); /* 2 cards per row */
    }
}

/* Extra small screens (small phones) */
@media (max-width: 480px) {
    .data-card {
        max-width: calc(100% - 2em); /* 1 card per row */
    }
}
