<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Counselling Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <nav>
        <div class="container">
            <img src="{{ url_for('static', filename='images/rvce_logo.png') }}" class="logo" alt="RVCE Logo">
            <ul>
                <li><a href="#about">About Us</a></li>
                <li><a href="#features">Features</a></li>
                <li><a href="#announcements">Announcements</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            <div class="dropdown">
                <img src="{{ url_for('static', filename='images/profile.png') }}" class="profile" alt="Profile">
                <div class="dropdown-content">
                    <a href="{{ url_for('counsellor_logout') }}">Sign Out</a>
                </div>
            </div>
        </div>
    </nav>




    <section id="view-meetings">
        <div class="card-list">
            <a href="{{ url_for('schedule_meetings') }}" class="card-item">
                <img src="../static/images/meeting.png" alt="Schedule Meetings">
                <span class="feature">Schedule Meetings</span>
                <h3>Click here to schedule your meetings with students.</h3>
                <div class="arrow">
                    <i class="fas fa-arrow-right card-icon"></i>
                </div>
            </a>
            <a href="{{ url_for('view_batch_attendance') }}" class="card-item">
                <img src="../static/images/meeting.png" alt="View Batch Attendance and Performance">
                <span class="feature">View Batch Attendance</span>  
                <h3>Click To View Batch Attendance.</h3>
                <div class="arrow">
                    <i class="fas fa-arrow-right card-icon"></i>
                </div>
            </a>
            <a href="{{ url_for('view_student_cgpa') }}" class="card-item">
                <img src="../static/images/meeting.png" alt="View Batch Attendance and Performance">
                <span class="feature">View Batch Attendance</span>  
                <h3>Click To View Batch CGPA.</h3>
                <div class="arrow">
                    <i class="fas fa-arrow-right card-icon"></i>
                </div>
            </a>
            <a href="{{ url_for('view_subject_scores') }}" class="card-item">
                <img src="../static/images/meeting.png" alt="View Batch Attendance and Performance">
                <span class="feature">View Batch Attendance</span>  
                <h3>Click To View Batch Test and Quiz Scores.</h3>
                <div class="arrow">
                    <i class="fas fa-arrow-right card-icon"></i>
                </div>
            </a>
            <a href="{{ url_for('view_batch_students') }}" class="card-item">
                <img src="../static/images/meeting.png" alt="Schedule Meetings">
                <span class="feature">View Your Batch Students</span>
                <h3>Click to View Your Batch Students Details</h3>
                <div class="arrow">
                    <i class="fas fa-arrow-right card-icon"></i>
                </div>
            </a>

            <a href="{{ url_for('students_documents') }}" class="card-item">
                <img src="../static/images/documents.png" alt="Student Documents">
                <span class="feature">See Student Docs</span>
                <h3>View and manage student documents.</h3>
                <div class="arrow">
                    <i class="fas fa-arrow-right card-icon"></i>
                </div>
            </a>

            <a href="{{ url_for('view_activity_points') }}" class="card-item">
                <img src="../static/images/activity.png" alt="Activity Points">
                <span class="feature">View Activity Points</span>
                <h3>Review the activity points for students.</h3>
                <div class="arrow">
                    <i class="fas fa-arrow-right card-icon"></i>
                </div>
            </a>
        
            <a href="{{ url_for('announcements') }}" class="card-item">
                <img src="../static/images/announcements.jpg" alt="Announcements">
                <span class="feature">Announcements</span>
                <h3>Make and manage announcements for your batch.</h3>
                <div class="arrow">
                    <i class="fas fa-arrow-right card-icon"></i>
                </div>
            </a>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <h2>Contact Us</h2>
            <p>If you have any questions, feel free to reach out to us.</p>
            <a href="mailto:isedepartment@rvce.edu.in" class="btn">Email Us</a>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2024 Student Counselling Management System. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
