<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Login and Registration Form</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <script defer src="../static/js/login_script.js"></script>
</head>
<body>
<div class="parent-div">
    <nav>
        <div class="container">
            <img src="{{ url_for('static', filename='images/rvce_logo.png') }}" class="logo">
        </div>
    </nav>
    <div class="vertical-section-holder">
        <section class="vertical-section-2">
            <div class="login-signup-holder">
                <div class="forms" style="border-radius: 10px;">
                    <!-- Login Form -->
                    <form id="login-form" class="login-form" action="{{ url_for('register') }}" method="POST">
                        <h2 class="heading-text">Login</h2>
                        <input type="hidden" name="form_type" value="login">
                        <input type="text" name="usn" placeholder="USN" required />
                        <input type="password" name="password" placeholder="Password" required />
                        <button type="submit">Login</button>
                        <p class="message">Not registered? <a onclick="toggleForms()">Signup</a></p>
                    </form>
                    <!-- Register Form -->
                    <form id="register-form" class="register-form hidden" action="{{ url_for('register') }}" method="POST">
                        <h2 class="heading-text">Sign Up</h2>
                        <input type="hidden" name="form_type" value="register">
                        <input type="text" id="name" name="name" placeholder="Name" required />
                        <input type="text" id="usn" name="usn" placeholder="USN" required />
                        <div class="input-row">
                            <input type="text" id="phone" name="phone" placeholder="Phone no." required style="
                            width: 38%;
                            padding: 12px;
                        "/>
                            <input type="email" id="email" name="email" placeholder="Email id" required style="
                            width:72%;
                            padding: 12px;
                        "/>
                        </div>
                        <div class="input-row">
                            <input type="text" id="parent_phone" name="parent_phone" placeholder="Parent Phone" required style="
                            width: 38%;
                            padding: 12px;
                        "/>
                            <input type="email" id="parent_email" name="parent_email" placeholder="Parent Email id" required style="
                            width: 72%;
                            padding: 12px;
                        "/>
                        </div>
                        <input type="password" id="password" name="password" placeholder="Password" required />
                        <input type="password" id="cpassword" name="cpassword" placeholder="Confirm Password" required />
                        <button type="submit">Signup</button>
                        <p class="message">Already registered? <a onclick="toggleForms()">Login</a></p>
                    </form>
                </div>
            </div>
        </section>
    </div>
    <footer>
        <div class="container">
            <p>&copy; 2024 Student Counselling Management System. All rights reserved.</p>
        </div>
    </footer>
</div>
<script>
    function toggleForms() {
        document.getElementById('login-form').classList.toggle('hidden');
        document.getElementById('register-form').classList.toggle('hidden');
    }
</script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</body>
</html>
