<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Counselling Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <nav>
        <div class="container">
            <img src="{{ url_for('static', filename='images/rvce_logo.png') }}" class="logo">
            <ul>
                <li><a href="#about">About Us</a></li>
                <li><a href="#contact">Contact us</a></li>
                <li><a href="#view-meetings">Features</a></li>
                
            </ul>
            <div class="dropdown">
                <img src="{{ url_for('static', filename='images/profile.png') }}" class="profile">
                <div class="dropdown-content">
                    <a href="{{ url_for('student_logout') }}">Sign Out</a>
                    <a href="{{url_for('view_profile_student')}}">View Profile</a>
                    
                </div>
            </div>
        </div>
    </nav>

    <!-- Inside student_dashboard.html -->
    <section id="view-meetings">
    <div class="card-list">
        <a href="{{ url_for('update_activity_points') }}" class="card-item">
            <img src="../static/images/activity.png" alt="Card Image">
            <span class="activity">Activity Points</span>
            <h3>Ensure proper docs</h3>
            <div class="arrow">
                <i class="fas fa-arrow-right card-icon"></i>
            </div>
        </a>
        


        <a href="{{ url_for('upload_file') }}" class="card-item">

            <img src="../static/images/documents.png" alt="Card Image">
            <span class="meet">Documents</span>
            <h3>Both Academic and Non-Academic documents to be uploaded</h3>
            <div class="arrow">
                <i class="fas fa-arrow-right card-icon"></i>
            </div>
        </a>
        <a href="{{ url_for('student_view_meetings') }}" class="card-item">

            <img src="../static/images/meeting.png" alt="Card Image">
            <span class="meet">Meetings</span>
            <h3>Meetings scheduled by your counselor</h3>
            <div class="arrow">
                <i class="fas fa-arrow-right card-icon"></i>
            </div>
        </a>

        <a href="{{ url_for('student_announcements') }}" class="card-item">

            <img src="../static/images/announcements.jpg" alt="Announcement">
            <span class="meet">Announcements</span>
            <h3>View the Announcements made by your Counsellor</h3>
            <div class="arrow">
                <i class="fas fa-arrow-right card-icon"></i>
            </div>
        </a>
        
    
    </div>
    
</section>
<section id="about"style="background-color:white;">
    <div class="container" >
        <h2>About Us</h2>
        <p>Welcome to the Student Counselling Management System. We are dedicated to providing comprehensive counselling services to support students in their academic and personal growth.</p>
    </div>
</section>

    

    <section id="contact">
        <div class="container">
            <h2>Contact Us</h2>
            <p>If you have any questions, feel free to reach out to us.</p>
            <a href="mailto:isedepartment@rvce.edu.in" class="btn">Email Us</a>
        </div>
    </section>
    <footer>
        <div class="container">
            <p>&copy; 2024 Student Counselling Management System. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
