<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Activity Points</title>
    <link rel="stylesheet" href="../static/css/view_activity_points.css">
</head>
<body>
    <main class="main">
        <section class="card-area">

            <!-- Loop through each student in the students list -->
            {% for student in students %}
            <section class="card-section">
                <div class="card">
                    <div class="flip-card">
                        <div class="flip-card__container">
                            <div class="card-front">
                                <div class="card-front__tp card-front__tp--city">
                                    <h2 class="card-front__heading">
                                        {{ student.name }}
                                    </h2>
                                    <p class="card-front__text-price">
                                        {{ student.usn }}
                                    </p>
                                </div>

                                <div class="card-front__bt">
                                    <p class="card-front__text-view card-front__text-view--{{ loop.index }}">
                                        View me
                                    </p>
                                </div>
                            </div>
                            <div class="card-back">
                                <video class="video__container" autoplay muted loop>
                                    <source class="video__media" src="https://player.vimeo.com/external/370331493.sd.mp4?s=e90dcaba73c19e0e36f03406b47bbd6992dd6c1c&profile_id=139&oauth2_token_id=57447761" type="video/mp4">
                                </video>
                            </div>
                        </div>
                    </div>

                    <div class="inside-page">
                        <div class="inside-page__container">
                            <h3 class="inside-page__heading inside-page__heading">
                                Activity points gained: {{ student.points }}
                            </h3>
                            <p class="inside-page__text">
                                Find the relevant information about the student's Activity points.
                            </p>
                            <a href="#" class="inside-page__btn inside-page__btn">View details</a>
                        </div>
                    </div>
                </div>
            </section>
            {% endfor %}

        </section>
        <footer class="footer">
            
        </footer>
    </main>
</body>
</html>
